.container {
    margin-top: 55px;
}

#imagen_fondo {
    z-index: -500;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

html,
body {
    height: auto;
}

.ui.menu {
    -webkit-transition: box-shadow 0.7s;
    transition: box-shadow 0.7s;
}

.ui.menu.a {
   /* background-color: hsl(0, 0%, 100%)!important;
    text-shadow: none!important;*/
    background-color: rgb(68,138,255);
        border: solid 1px rgba(0,0,0,.1);
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}

.ui.menu.b {
    box-shadow: none;
    background-color: hsla(0, 0%, 100%, 0.1)!important;
}
.ui.menu.b >a{
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 4px #fff, 1px 1px 4px #fff, 1px 1px 4px #fff, 1px 1px 4px #fff!important;
    transition: color .5s, text-shadow 1s;
}
.ui.menu.b >a:hover{
    color: white;
    text-shadow: 1px 1px 4px #000, 1px 1px 4px #000, 1px 1px 4px #000, 1px 1px 4px #000!important;
}
.ui.search > .results {
    z-index: 1000!important;
}

.ui.dimmer {
    z-index: 999!important;
}

#map {
    height: 420px;
    width: 100%;
    border: solid 1px hsl(0, 0%, 90%);
    border-radius: 5px;
}

#map:hover {
    border: solid 1px hsl(225, 100%, 70%);
}

#contenedorImagenes {
    padding: 5px;
}


/*----*/

.previa_imagen {
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
    width: 33%;
    height: 240px;
    text-align: center;
    border: solid 2px hsl(0, 0%, 90%);
    border-radius: 5px;
    overflow: hidden;
}

.previa_imagen > img {
    width: 100%;
    height: 100%;
}

.previa_imagen > img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.previa_imagen {
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.previa_imagen > .btn_imagen {
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: -100%;
    font-size: 0.2rem;
    position: relative;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.btn_imagen > i {
    top: 35%;
    position: relative;
    text-shadow: 0px 5px 14px white;
}

.previa_imagen:hover > .btn_imagen {
    opacity: 1;
    font-size: 10rem;
}

.previa_imagen:hover + .btn_imagen {
    display: block;
}


/*imagen checkeada para eliminar*/

input[type="checkbox"]:checked + .previa_imagen {
    border: solid 3px hsl(0, 100%, 30%);
    box-Shadow: 0 2px 6px hsl(0, 100%, 30%);
}

input[type="checkbox"]:checked + .previa_imagen>img {
    -webkit-filter: grayscale(100%) blur(5px) invert(15%);
    filter: grayscale(100%) blur(5px) invert(15%);
}


/*-------*/

footer {
    bottom: 0;
    height: 25px;
}


/*quitar texto de google map*/

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
    display: none!important;
    visibility: hidden!important;
}

a[title="Haz clic aquí para visualizar esta zona en Google Maps"] {
    visibility: hidden!important;
}

img[src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png"],
a[href^="http://maps.google.com/maps"] {
    display: none !important;
}


/*--Botones de mapa--*/

.controlUI {
    background-Color: #fff;
    border: 2px solid #fff;
    border-Radius: 3px;
    box-Shadow: 0 2px 6px rgba(0, 0, 0, .3);
    cursor: pointer;
    top: 10px;
    right: 10px;
    text-Align: center;
    position: relative;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
}
.labelMapDireccion{
    margin-bottom: 5px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(250,250,250,.9);
    color:black;
    border-radius: 3px;
    border:1px solid rgba(0,0,0,.2);
}

/*---resultados del buscador ---*/

.ui.search > .results {
    background: hsla(212, 60%, 90%, 0.4);
    border: none;
}

.b > .search > .input > .prompt {
    background: transparent!important;
    text-shadow: 1px 1px 4px #fff!important;
}

.search > .input > .prompt {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

/*--- articulo  ---*/
.ver-articulo{
    color:rgba(0,0,0,.9);
}
.ver-articulo > img{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 4px 0 rgba(0,0,0,.12),0 1px 2px -1px rgba(0,0,0,.2);
    border-radius: 2px;
    border:2px solid white;
    float: left;
    margin: 5px;
}
.ver-articulo > .derecha{
    float: right;
}
.ver-articulo > .porcentaje-50{
    width:50%;
}
/*---- Tablas ----*/
table > thead > tr> th{
    background-color: rgba(0,0,0,0.1)!important;
}
th > div > input,
td > div > input{
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
}
th[title="click derecho para editar valor"],
td[title="click derecho para editar valor"]{
    cursor: text;
}
/*--- listadoCategoria ---*/
.listadoCategoria{
    height: 50vh;
    width: 50vw;
    border-radius: 5px;
    border:1px solid rgba(0,0,0,.4);
    position: fixed;
    left: 50%;
    top: -50%;
    transform: translate(-50% , -50%);
    background-color: rgb(230,230,230);
    transition:top .5s;
}
.listadoCategoria>div{
    height: calc(100% - 20px);
    overflow: auto;
    margin: 10px 0;
}
.listadoCategoria:before{
    background-color: inherit;
    content: ' Categorias ';
    position: absolute;
    padding: 2px 2px 0 2px;
    top:0;
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 5px;
    border:1px solid rgba(0,0,0,.4);
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
}
.listadoCategoria>div>ul>li:before{
    content: "\f005";
    font-family: Icons;
    font-style: normal;
    font-size: .6em;
    vertical-align: middle;
    margin-right: 5px;
}
.listadoCategoria>div>ul>li:first-child{
    border-top:none;
}
.listadoCategoria>div>ul>li{
    font-size:1em;
    border-top: 1px solid rgba(200,200,200, .6);
    list-style-type: none;
    margin-bottom: 2px;
    cursor: pointer;
}
.listadoCategoria>div>ul > .categoriaSeleccionada{
    background-color: rgba(130,130,130,.5);
    color: red;
}
/*--- menuNuevaCategoria ---*/
.menuNuevaCategoria{
    height: 150px;
    width: 250px;
    border-radius: 5px;
    border:1px solid rgba(0,0,0,.4);
    position: fixed;
    left: 50%;
    top: -50%;
    transform: translate(-50% , -50%);
    background-color: rgb(230,230,230);
    transition:top .5s;
}
.menuNuevaCategoria:before{
    content:" Nueva Categoria ";
    padding 5px;
    position:absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    background: inherit;
    border-radius: 5px;
    border:1px solid rgba(0,0,0,.4);
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.listadoCategoria>.remove,
.menuNuevaCategoria>.remove{
    color:#f82727;
    float: right;
    top:0;
    cursor: pointer;
}
.menuNuevaCategoria>div{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.menuNuevaCategoria>div>div>input{
    border-radius: 500rem!important;
}
.menuNuevaCategoria>div>button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 52%);
    border-radius: 500rem!important;
    border: 1px solid rgba(186, 186, 186, 0.84)!important;
    box-shadow: none!important;
}
.edicionCategorias{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    transform: translateX(-100%);
    transition: transform .3s;
    z-index: 102;
}
#edicionCategorias > .listasCategoria{
    min-width: 50%;
    min-height: 50%;
    max-height: 50%;
    padding: 5px;
    border-radius: 3px;
    border:1px solid rgb(45,45,45);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgb(230,230,230);
    overflow: hidden;
}
#listadoCategoriasCompleto,
#listadoCategoriasActual{
    
    display: inline-block;
    width: 45%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
}
#listadoCategoriasCompleto{
    float: right;
}
#listadoCategoriasActual{
    float: left;
}
#listadoCategoriasActual>ol,
#listadoCategoriasCompleto>ol{
    overflow-y: auto;
    max-height: 250px;
}
#listadoCategoriasActual>ol>li,
#listadoCategoriasCompleto>ol>li{
    cursor: pointer;
}

/*----- - -----*/
#menuContextualListado{
    position: absolute;
    left:0;
    top:0;
    opacity: 0;
    transition: opacity .1s;
    visibility: hidden;
    background-color: white;
    z-index:10;
    padding: 3px;
    border: 1px solid rgba(0,0,0,.4);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    border-radius: 2px;
}
#menuContextualListado > div {
    cursor: pointer;
    padding: 5px;
    padding-left:10x;
    padding-right:10px;
    border-top: solid 1px rgba(200,200,200,.9);
    transition: background .3s;
}
#menuContextualListado > div:first-child{
    border-top: none;
}
#menuContextualListado > div:hover{
    background-color: rgba(200,200,200,.7);
}

