body{
  background-color: hsla(212, 30%, 90%, 0.9)!important;    
}
.segment {
  background: hsla(212, 10%, 100%, 0.7)!important;
  border: none!important;
  min-height: 80px;
}

.lugar.item {
  padding: 10px!important;
  background-color: hsla(213, 36%, 95%, 0.9)!important;
  margin: 0!important;
}

.lugar.item:first-child {
  border-top-left-radius: 5px!important;
  border-top-right-radius: 5px!important;
}

.lugar.item:last-child {
  border-bottom-left-radius: 5px!important;
  border-bottom-right-radius: 5px!important;
}

.lugar.item:nth-child(2n) {
  background-color: hsla(212, 37%, 90%, 0.9)!important;
}
.miniImagen{
  max-height: 150px;
  overflow: hidden;
}
#segmentoIndice > .container{
  margin: 0px!important;
  width: 100%;
  height: 100%;
}
.portada{
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position: absolute;
  background-color:transparent!important;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  overflow: hidden;
}
.portada>#imagenPortada{
  position: fixed;
  overflow: hidden;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-width: 100%; 
  min-height: 100%; 
}

.texto_portada{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  text-align: center;
}
.texto_portada > .contenido_texto > h1{
  cursor:pointer;
	text-shadow: 0 0 10px RGB(240, 240, 240), 0 0 20px RGBA(200, 200, 200, 0.8), 0 0 30px RGBA(197, 197, 197, 0.6);
	color: #333;
	opacity: 0.9;
	font:0.1rem;
	transition: color .5s, opacity .4s;
  animation-name: inicioTexto;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes inicioTexto{
  0%{
    font:0.1rem;
  }
  100%{
    font: 900 11rem 'Bitter';
  }
}
@-webkit-keyframes inicioTexto{
  0%{
    font:0.1rem;
  }
  100%{
    font: 900 11rem 'Bitter';
  }
}
.texto_portada > .contenido_texto > h1:hover{
  opacity:1;
  color:#111;
}
.index.segment{
  padding:15px;
  border:solid 1px hsla(212, 60%, 90%, 0.9);
}

.descargarApp{
  position: absolute;
  bottom: 80px;
  right: 0;
  transform: translateX(150%);
  animation-name: movimientoCelular;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-duration: .7s;
  animation-fill-mode: forwards;
}

@keyframes movimientoCelular{
  0%{
  transform: translateX(150%);
  }
  100%{
  transform: translateX(-50%);
  }
}
@-webkit-keyframes movimientoCelular{
  0%{
  transform: translateX(150%);
  }
  100%{
  transform: translateX(-50%);
  }
}

.descargarApp > .celular{
  transition: opacity .3s;
  width:100px;
  -webkit-filter: drop-shadow(1px 2px 2px #424242);
  filter: drop-shadow(1px 2px 2px #424242);
  -ms-transform: rotate(11deg); /* IE 9 */
  -webkit-transform: rotate(11deg); /* Chrome, Safari, Opera */
  transform: rotate(11deg);
}
.descargarApp > a > .btnGetApp{
  width:100px;
  -webkit-filter: drop-shadow(1px 2px 2px #424242);
  filter: drop-shadow(1px 2px 2px #424242);
  position: absolute;
  top:50%;
  left:0;
  transform: translate(-50%  , 550%);
  animation-name: movimientoCelularBoton;
  animation-iteration-count: 1;
  animation-delay: 1.3s;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  transition: width .5s;
}
@keyframes movimientoCelularBoton{
  0%{
    transform: translate(-50%  , 550%);
  }
  100%{
    transform: translate(-50%  , -50%);
  }
}
@-webkit-keyframes movimientoCelularboton{
  0%{
    transform: translate(-50%  , 550%);
  }
  100%{
    transform: translate(-50%  , -50%);
  }
}
.descargarApp > a > .btnGetApp:hover{
  width: 120px;
}
.descargarApp > .free {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  animation-name: movimientoCelularFree;
  animation-iteration-count: 1;
  animation-delay: 1.7s;
  animation-duration: .2s;
  animation-fill-mode: forwards;
  transition: width .5s;
}
.descargarApp > .free > i{
  position: absolute;
  font-size: 5rem;
  color: rgb(41, 163, 41);
  text-shadow: 0 0 2px black;
  transform: translate(-30%, -5%);

}
.descargarApp > .free > i >span{
  font-size: 1rem;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(45%, 0%);
}
@keyframes movimientoCelularFree{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
@-webkit-keyframes movimientoCelularFree{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}